<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body style="background:#FF0000">
<div id="status">
$code
  if context.is_logged():
    logged_status = "You are currently logged in as %s."%context.username
  else:
    logged_status = "You are not logged in."
$logged_status
</div>

<center><h1>ADMIN PAGE</h1></center>

<div id="menu">
<a href='/'>Index</a> | 
<a href='/user/create'>Create User</a> | 
<a href='/user/delete'>Delete User</a> | 
<a href='/user/login'>Login</a> | 
<a href='/user/logout'>Logout</a> |
<a href='/admin'>Admin</a>
</div>
</body>
</html>