<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
<div id="status">
$code
  if context.is_logged():
    logged_status = "You are currently logged in as %s."%context.username
  else:
    logged_status = "You are not logged in."
$logged_status
</div>
<div id="form">
<form action='#' method='POST'>
	<b>Login</b>
	<table>
		<tr>
		<td id="key">Name:</td>
		<td id="val"><input type='text' name='username' /></td>
		</tr>
		<tr>
		<td id="key">Password:</td>
		<td id="val"><input type='password' name='password' /></td>
		</tr>
		<tr>
		<td colspan=2 id="key"><input type='submit' value='Login' /></td>
		</tr>
	</table>
</form>
</div>
<div id="menu">
<a href='/'>Index</a> | 
<a href='/user/create'>Create User</a> | 
<a href='/user/delete'>Delete User</a> | 
<a href='/user/login'>Login</a> | 
<a href='/user/logout'>Logout</a> |
<a href='/admin'>Admin</a>
</div>
</body>
</html>