body {
	background-color: #E0E0E0;
	font-size: 10px;
	font-family: "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 	
}
div {
	background-color: #F0F0F0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 10px;
}
div#form {
	width: 200px;
	padding: 20px;
	text-align: center;
}
div#menu, div#status {
	width: 800px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
table {
	border: 0px;
	font-size: 10px;
	font-family: "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
	margin: 0px;
}
td#key {
	text-align: right;
}
td#val {
	text-align: left;
}